// COLORS

$color-primary: #ff8c00;
$color-primary-light: #ffaf4d;
$color-primary-dark: #e67e00;

$color-white: #fff;
$color-black: #000;

$color-grey: #777;
$color-grey-light: #ccc;
$color-grey-dark: #444;


// FONTS

$font-size-default: 1.6rem;
$font-size-h1: 2.4rem;
$font-size-h2: 2.0rem;
$font-size-h3: 1.8rem;
$font-size-small: 1.2rem;

// BOX-SHADOWS

$box-shadow: 1rem 2rem 2rem rgba($color-black, .2);

// LAYOUT

$width-app-default: 100rem;