.title {
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 400;
    justify-self: center;
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: .6rem;
    font-stretch: expanded;
    color: #ffaf4d;


    @media (max-width: 900px) {
        font-size: 2.2rem;
    }

    @media (max-width: 600px){
        font-size: 1.8rem;
    }

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;

    &__pic {
        width: 23vw;
        border-radius: .3rem; 
        flex-grow: 1;
        margin-top: .7rem; 
    
        @media(max-width: 1200px) {
            width: 30vw;
        }
    
        @media(max-width: 900px) {
            width: 45vw;
        }
    
        @media(max-width: 600px) {
            width: 100vw;
            margin-top: 0;
        }
    }
}