.footer {
    font-size: 1.4rem;
    letter-spacing: 3px;
    padding-top: 1rem;
    font-family: Lato, sans-serif;
    margin: 0 auto;
    transform: translateY(-.7rem);

    @media (max-width: 900px) {
        font-size: 1rem;
    }

    @media (max-width: 600px) {
        padding-top: .2rem;
        font-size: .8rem;
        letter-spacing: 2px;
        border-top: solid .3rem  #ffaf4d;
    }

    & a {
        color: #ff8c00;
        text-decoration: none;
    }
}